ul {
  list-style-type: none;
}

li {
  padding-bottom: 5px;
  font-family: sans-serif;
	text-transform: uppercase;
}

ul a {
	color: #515756!important;
}

ul a:hover{
    color:#bd1e2d!important;
    text-decoration: none;
}

section {
	padding-top: 10px !important;
	padding-bottom: 10px;
}

.nav-tabs {
	padding-top: 10px !important;
}

#page-wrap {
  /*width: 600px;*/
  /*margin: 15px auto;*/
  position: relative;
}

#sidebar {
	padding-top: 200px;
	font-size: 16px;
  width: inherit;
  position: absolute;
  margin-left: 0px;
}

.article-content {
	padding-left: 100px;
}
