ul {
  list-style-type: none;
}

li {
  padding-bottom: 5px;
  font-family: sans-serif;
	text-transform: uppercase;
}

ul a {
	color: #515756!important;
}

ul a:hover{
    color:#bd1e2d!important;
    text-decoration: none;
}
